/* Tablet on mode  */
@media (min-width: 740px) and (max-width: 1023px) {
    
    #header .brand-text{
        margin-left:36px;
    }

    
    #header .banner .slogan p {
        font-size:22px;
        margin-left: 24px;
    }

    #content .MacbookPro16-product{
        display:none;
    }
    #content .sell-product-iMac{
        max-width: 550px;
    }

    #content .iPhone-product .col-fourth{
        text-align: center;
        width: 334px;
    }

    #content .end-banner-iPhone .wrapper-banner-iPhone h1{
        font-size: 36px;
    }

    #content .end-banner-iPhone .wrapper-banner-iPhone p{
        display:none;
    }

    #content .iPhone-product .wrapper-sell-product{
        display:grid;
        width: 700px;
        text-align: center;
        grid-column-gap:32px;
        grid-template-columns:auto auto ;
        margin-left: auto;
        margin-right: auto;
    }

    #content .content-section{
        max-width: 90%;
    }
    #content .iPad-product .sell-product{
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
      } 
      #content .iPad-product .sell-product>div{
          width: 50%;
    }
    #content .iPad-product .sell-product .i-device{
        margin:auto;
    }

}

/* Smart Phone on mode  */
@media (max-width:739px){
    #content .iPad-product .sell-product>div{
        width: 100%;
  }
  #content .iPhone-product .sell-product>div{
      width: 100%;
  }
  #content .end-banner-iPhone p{
      display: none;
  }
  #content .sell-product-iMac{
      display: flex;
      flex-direction: column;
  }
  #content .sell-product-iMac div{
      width: 100%;
      align-items: center;
      margin:auto;

  }
  #content .iPad-product .sell-product .i-device{
    margin:auto;
}
}
